/*------------------------ HEADER -------------------------- */

@mixin navCenterMobile {
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align:center;
}

.close-menu {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	display: none;
	color: #fff;
}

#header {
	.header__top {
		width: 100%;
		background-color: $black;
		padding: 10px 30px;
		display: flex;
		justify-content: space-between;

		ul {
			@include styleUL;

			li {

				float: left;
				
				a {
					color: #525252;
					margin-right: 10px;
					&:hover {
						text-decoration: none;
						color: #929292;
						@include easeOut;
					}
					
					i {
						margin-right: 5px;
					}
				}
			}
		}

	}

	.header__bottom {
		border-bottom: 2px solid #dddddd;
		.logo {
			letter-spacing: 10px;
			font-weight: bold;
			font-size: 20px;
			
			a:hover {
				text-decoration: none;
				color: $primary-color;
				@include easeOut;
			}
			span {
				padding: 7px;
				border: 2px solid $black;
				color: $black;
			}
		}

		.nav-center {
			a {
				font-family: "Montserrat script=all rev=1";
				font-weight: 900;
				font-style: normal;

				&:hover, &.active {
					text-decoration: none;
					color: $primary-color;
				}
			}
		}

		.open-navbar-collapse {
			cursor: pointer;
		}
	}
}

@include mediaXl {
	#header {
		
		.header__top {
			
			
			ul {
				

				li {
					
					

					a {
						i {
							
						}
						
					}
					
				}
			}
		}

		.header__bottom {
			.search-mobile {
				display: none;
			}


			padding: 20px 30px;
			display: flex;
			justify-content: space-between;
			position: relative;

			

			.nav-center {

				ul {
					@include styleUL;
					display: flex;
					flex-wrap: nowrap;

					li {
						text-transform: uppercase;
						a {
							color: #525252;
							font-weight: bold;
							padding: 20px;
							&:hover {
								text-decoration: none;
								color: $primary-color;
							}
							
							i {
								margin-right: 5px;
							}
						}

					}
				}
			}

			.nav-collapse {
				border-top: 0;
				box-shadow: none;
			}
			.nav-collapse.collapse {
				display: block !important;
				height: auto !important;
				padding-bottom: 0;
				overflow: visible !important;
			}
			.nav-collapse.in {
				overflow-y: visible;
			}

			.nav-right {
				ul {
					@include styleUL;
					
					li {
						float: right;
						a {
							color: #525252;
							font-weight: 900;
							margin-right: 10px;
							font-size: 18px;
							&:hover {
								text-decoration: none;
								color: $primary-color;
							}
							
							i {
								margin-right: 5px;
							}
						}

					}

					.open-navbar-collapse {
						display: none;
					}
				}
			}
		}
	}
};

@include mediaLg {
	.header__top {

	}

	.header__bottom {
		padding: 20px 20px;
		display: flex;
		justify-content: space-between;
		position: relative;

		.logo {
			
		}

		.nav-center {
			@include navCenterMobile;

			ul {
				@include styleUL;
				width: 100%;

				li {
					a {
						color: $white;
						padding: 10px;						
						i {
							margin-right: 5px;
						}
					}
				}

			}

			.search-dev {
				display: none;
			}

			&.open {
				display: block;
				animation-name: opacity;
				animation-duration: .5s; 
			}
		}

		.nav-right {

			ul {
				@include styleUL;

				li {
					float: right;
					margin-left: 20px;

					a {
						color: #525252;
						font-weight: 900;
						&:hover {
							text-decoration: none;
							color: #929292;
						}
						
						i {
							margin-right: 5px;
						}
					}
				}
			}
		}
	}
};

@include mediaMd {
	#header {
		.header__top {
			div {
				width: 100%;

				ul {
					@include styleUL;
					display: flex;
					justify-content: flex-end;

					li {
						
					}
				}
			}
			div:first-child {
				ul {
					justify-content: flex-start;
				}
			}
		}

		.header__bottom {
			padding: 20px 20px;
			display: flex;
			justify-content: space-between;
			position: relative;
			
			.logo {
				
			}

			.nav-center {
				@include navCenterMobile;

				ul {
					@include styleUL;
					width: 100%;

					li {
						a {
							color: $white;
							padding: 10px;							
							i {
								margin-right: 5px;
							}
						}
					}

				}

				&.open {
					display: block;
					animation-name: opacity;
					animation-duration: .5s; 
				}

				.search-dev {
					display: none;
				}
			}

			.nav-right {

				ul {
					@include styleUL;

					li {
						float: right;
						margin-left: 20px;

						a {
							color: #525252;
							font-weight: 900;
							&:hover {
								text-decoration: none;
								color: #929292;
							}
							
							i {
								margin-right: 5px;
							}
						}
					}
				}
			}

		}
	}
};

@include mediaSm {
	#header {
		.header__top {
			flex-direction: column;
			div {
				width: 100%;

				ul {
					@include styleUL;
					display: flex;
					justify-content: center;

					li {
						text-align: center;
					}
				}
			}
			div:first-child {
				ul {
					justify-content: center;
				}
			}
		}

		.header__bottom {
			.nav-right {
				ul {
					li {
						margin-left: 10px;
					}
				}
			}
		}
	}
};


@keyframes opacity {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}