/* Product */

.product {
	.product-thum {
		position: relative;

		img {
			width: 100%
		}

		.add-to-cart {
			position: absolute;
			left: 10px;
			bottom: 10px;
			background-color: #fff;
			color: #222222;

			&:hover {
				color: $primary-color;
			}
		}
	}

	.product-name {
		margin-top: 20px;
		font-weight: 700;
	}

	.product-price {
		color: #666;
		text-decoration: line-through;
	}

	.product-sale-price {
		color: $primary-color;
		font-weight: bold;
		margin-left: 5px;
	}

	.number-star {
		.star.active {
			color: #ffea99;
			cursor: pointer;
		} 
	}
}