/* Product */

.product {
	.product-thum {
		position: relative;
		margin-bottom: 16px;

		img {
			width: 100%
		}

		.add-to-cart {
			position: absolute;
    		left: 6px;
		    bottom: 3px;
		    background-color: #fff;
		    color: #222222;
		    font-family: Montserrat-Regular;
		    font-size: 13px;
		    padding: 10px 12px 11px 16px;
		    word-spacing: -2px;				

			&:hover {
				color: $primary-color;
			}
		}
	}

	.product-name {
		margin-top: 17px;
		font-weight: 700;
		color: #000000;
		margin-bottom: 8px;
	}

	.number-star {
		margin-bottom: 6px;
	}

	.price {
		margin-bottom: 15px;
	}

	.product-price {
		color: #666;
		text-decoration: line-through;
	}

	.product-sale-price {
		color: $primary-color;
		font-weight: bold;
		margin-left: 5px;
	}

	.number-star {
		.star.active {
			color: #ffea99;
			cursor: pointer;
		} 
	}
}