@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: Pacifico-Regular;
    src: url('../fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: Open Sans;
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
    font-style: normal;
}
